#title {
    text-align : center;
}
#image {
    max-width: 100%;
    height: auto;
    border: 5px, 20px, 5px, 20px;
    display: block;
}
#saver {
    text-align: center;
}
#title-div {
    text-align: center;
}
#img-caption {
text-align: center;
}
#img-div {
    text-align: center;
}