#title {
    text-align : center;
}
#image {
    position: relative;
    max-width: auto;
    height: auto;
    align: center;
    border: 5px, 20px, 5px, 20px;
}
#saver {
    text-align: center;
}
#title-div {
    text-align: center;
}